#enrollmentCarousel .carousel-inner {
    padding: 0 10%; 
}

#enrollmentCarousel .carousel-inner {
    padding: 0 40px;
}

@media (min-width: 768px) {
    #enrollmentCarousel .carousel-inner {
        padding: 0 100px;
    }
}
nav {
    background-color: #1e3a5f;
}
.ready{
    background-color: #1e3a5f;
}
